# Carpetas de dependencias y compilación
node_modules/
/dist/
/.angular/

# Caché de TypeScript y compilación rápida
*.tsbuildinfo
.editorconfig

# Archivos de configuración local y entorno
.env
.env *.local
.appconfig.json

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Carpetas de IDEs (Opcional, por si usas WebStorm o VS Code local)
/.idea/
/.vscode/